# Port configuration
PORT=5000

# MongoDB Connection String (Replace credentials with your own setup)
# MONGO_URI=mongodb://<username>:<password>@<hosts>/<database>?options
MONGO_URI=mongodb://db_user:db_password@ac-xxxxx-shard-00-00.xxxxxxx.mongodb.net:27017,ac-xxxxx-shard-00-01.xxxxxxx.mongodb.net:27017,ac-xxxxx-shard-00-02.xxxxxxx.mongodb.net:27017/student-management?ssl=true&authSource=admin&retryWrites=true&w=majority
